import {StyleSheet} from 'react-native'
const styles = StyleSheet.create({
    container: {
      width: WIDTH,
      paddingHorizontal: 20,
      backgroundColor: '#FFFFFF',
      flex: 1,
    },
    productImage:{},
    brandName:{},
  });
export default styles;